/*For the history page*/

span {
  border: tan 3px dashed;
}
  
div {
  border: red 1px solid;
}

#page-list {
  display: flex;
  justify-content: space-around;
}

.centered {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

#history-buttons-div {
  display: flex;
  flex-direction: column;
}

.history-buttons {
  line-height: 2.5;
  color: black;
  border-radius: 10px;
  background-color: #cdcdcd;
  scale: 1;
  transition: scale 0.8s;
}

.history-buttons:hover {
  background-color: #898989;
  border-radius: 20px;
  scale: 0.95;
}

.history-buttons:active {
  background-color: #676767;
  scale: 0.9;
}