span {
  border: tan 3px dashed;
}
  
div {
  border: red 1px solid;
}

#page-list {
  display: flex;
  justify-content: space-around;
}

.centered {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
  align-items: center;
}

#banner {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

#history-buttons {
  display: flex;
  justify-content: space-between;
}