span {
  border: tan 3px dashed;
}

div {
  border: red 1px solid;
}

#list-and-pics {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
  height: auto;
}

#list-div {
  width: 50%;
  height: auto;
}

#gallery-by-links {
  width: 50%;
  height: auto;
}

.centered {
  display: flex;
  justify-content: center;
}

#links-div {
  margin-left: 100%;
}