#list-div {
  width: 50%;
  height: auto;
}

#gallery-by-links {
  width: 50%;
  height: auto;
}

#page-list {
  display: flex;
  justify-content: space-around;
}

#banner {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.main-gallery {
  width: 25vw;
}

.main-gallery > div{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.main-gallery > div > img {
  width: 25vw;
  height: auto;
}

#gallery-panel{
  display:flex;
}