/*For the Our Team page*/

#page-list {
  display: flex;
  justify-content: space-around;
}

.profile-picture{
  width: 500px;
  height: 500px;
  object-fit: cover;
}

#quinn-profile {
  width: 500px;
  height: auto;
  object-fit: stretch;
}

.profile{
  display: flex;
  margin: 20px;
}

#banner {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.profile > div > p {
  text-align: center;
}

.profile > div > h2 {
  text-align: center;
}

.profile > div > h3 {
  text-align: center;
}