#page-list {
  display: flex;
  justify-content: space-around;
}

.profile-picture{
  width: 800px;
  height: 800px;
  object-fit: cover;
}

.profile{
  display: flex;
  margin: 20px;
}

#banner {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.profile > div > p{
  text-align: center;
}