/*This is the CSS that is applied to all pages*/

div:not(.no-border) {
    border: 1px rgb(177, 25, 25) dashed;
    background-color: #ffdbd9;
}

.centered {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
    align-items: center;
}

.moving-rtv-logo {
    width: 40px;
    height: auto;
    animation: bounce-logo 1.3s infinite linear;
}

@keyframes bounce-logo {
    0% {
        margin-left: 95vw;
    }

    50%{
        margin-left: 0px;
    }

    100% {
        margin-left: 95vw;
    }
}

ul a {
    transition: color 0.7s;
    transition: background-color 0.7s;
    color: #1b9400;
    background-color: #ffdbd9;
}

ul a:hover {
    color: white;
    background-color: #1b9400;
}

p {
    font-family: trebuchet MS;
}

h1 {
    font-family: fantasy;
    filter: drop-shadow(0px 0px 15px #4c923c)
}

h2 {
    font-family: trebuchet MS;
    color: #343434;
}

h3 {
    font-family: trebuchet MS;
    color: #343434;
}

a {
    font-family: trebuchet MS;
    color: #1b9400;
}

button {
    font-family: trebuchet MS;
}

body{
    background-color: #5fb84b;
}