#page-list {
  display: flex;
  justify-content: space-around;
}

.segment-section{
  display: flex;
  margin: 20px;
}

.left{
  flex-direction: row;
}

.right{
  flex-direction: row-reverse;
}

iframe {
  width: 60vw;
  height: 33.75vw;
}

div > div > h2 {
  text-align: center;
}

div > div > h3 {
  text-align: center;
}

div > div > p {
  text-align: center;
}